<!-- <table ng-controller="formController">                              
        <tr>
          <td style="padding: 15px;">
            Phone number
          </td>
          <td style="padding: 15px;">
             {{number}}
            </td>
        </tr>
        <tr>
          <td style="padding: 15px;">
            Email Id:
          </td> 
          <td style="padding: 15px;">
              {{email}}
            </td>                                   
        </tr>
        <tr>
              <td style="padding: 15px;">
                Status:
              </td>
              <td>
                 {{status}}
              </td>
          </tr>
        <tr>                                  
        </tr>
</table> -->

<div>helloo</div>