<div class="container" ng-controller="formController">
    <div class="row panel-group">
        <div class="panel panel-primary" style="border-color: black;">
            <div class="panel-heading" style="background-color: black;">Record Maintanence</div>
            <div class="panel-body">
              <div class="col-xs-5">
                  <ul class="list-group">
                      <li class="list-group-item"> <h4>Contacts:</h4>
                        <li class="list-group-item" ng-click="bindData(contact)" ng-repeat="contact in Contacts | orderBy: 'name' ">{{contact.FirstName+ " " + contact.LastName}}</li>
                      </li>
                  </ul> 
              </div>
              <div class="col-xs-7">
                  <div class="panel-group">
                      <div class="panel panel-primary" style="border-color: black;">
                        <div class="panel-heading" style="background-color: black;">Please select a row to view contact details</div>
                        <div class="panel panel-default">
                            <div class="panel-heading" style="text-align: center"><h4>{{firstname + " " + lastname}}</h4></div>
                            <div class="panel-body">
                                <table>                                  
                                    <tr>
                                        <td style="padding: 15px;">
                                          First Name:
                                        </td>
                                        <td style="padding: 15px;">
                                           {{firstname}}
                                          </td>
                                      </tr>
                                      <tr>
                                          <td style="padding: 15px;">
                                            Last Name:
                                          </td>
                                          <td style="padding: 15px;">
                                             {{lastname}}
                                            </td>
                                        </tr>
                                  <tr>
                                    <td style="padding: 15px;">
                                      Phone number:
                                    </td>
                                    <td style="padding: 15px;">
                                       {{number}}
                                      </td>
                                  </tr>
                                  <tr>
                                    <td style="padding: 15px;">
                                      Email Id:
                                    </td> 
                                    <td style="padding: 15px;">
                                        {{email}}
                                      </td>                                   
                                  </tr>
                                  <tr>
                                    <td style="padding: 15px;">
                                      Status:
                                    </td>
                                    <td style="padding: 15px;">
                                        {{status}}
                                    </td>
                                  </tr>
                                </table>
                            </div>
                          </div>
                        
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>  
</div>