<div class="row" ng-controller="formController">
    <div class="col-sm-8">
            <h4>Contact List<span style="color: red; padding: 15px">(click on the row to update/change the information)</span></h4>
            <div class="container">
                    <table class = "directoryTable" id="rowClick">
                            <tr>
                              <th style="padding: 15px;">
                                First Name
                              </th>
                              <th style="padding: 15px;">
                                Last Name
                                </th>
                              <th style="padding: 15px;">
                                Number
                              </th>
                              <th style="padding: 15px;">
                                Email Id
                              </th>
                              <th>
                                Status
                              </th>
                              <th>
        
                              </th>
                            </tr>
                            <tr ng-click="bindData(contact)"  ng-repeat="contact in Contacts track by contact.Number">
                              <td>
                                {{contact.FirstName}}
                              </td>
                              <td>
                                {{contact.LastName}}
                                </td>
                              <td>
                                {{contact.Number}}
                              </td>
                              <td>
                                {{contact.Email}}
                              </td>
                              <td>
                                {{contact.Status}}
                                </td>
                              <td>
                                <input type="button" ng-click="deleteRow(contact)" value="delete">
                              </td>
                            </tr>
                          </table>
            </div>           
        </div>
    <div class="col-sm-4">
            <form name = "form" ng-controller="formController">
                    <h4>Update Contact Information</h4>
                    <table>
                      <tr>
                        <td style="padding: 15px;">
                          First Name:
                        </td>
                        <td>
                          <input name="ffname" type="text" ng-model="firstname" required="">
                          <span ng-show="form.ffname.$error.required" style="color: red">required</span>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 15px;">
                            Last Name:
                         </td>
                         <td>
                              <input name="flname" type="text" ng-model="lastname" required="">
                              <span ng-show="form.flname.$error.required" style="color: red">required</span>
                            </td>
                          </tr>
                      <tr>
                        <td style="padding: 15px;">
                          Phone number:
                        </td>
                        <td>
                          <input name="fnumber" type="number" ng-model="number" required="" min="7000000000" max="9999999999" style="width: 175px">
                          <span ng-show="form.fnumber.$error.required" style="color: red">required</span>
                          <span ng-show="form.fnumber.$error.min" style="color: red">Phone number cannot be less than 9000000000</span>
                          <span ng-show="form.fnumber.$error.max" style="color: red">Phone number cannot be less than 9999999999</span>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 15px;">
                          Email Id:
                        </td>
                        <td>
                          <input name="femail" type="email" ng-model="email" required=''>
                          <span ng-show="form.femail.$error.required" style="color: red">required</span>
                          <span ng-show="form.femail.$error.email" style="color: red">invalid mail Id</span>
                        </td>
                      </tr>
                      <tr>
                            <td style="padding: 15px;">
                              Status:
                            </td>
                            <td>
                                <select name="fstatus" ng-model="status" required='' style="width: 175px">
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                              <span ng-show="form.fstatus.$error.required" style="color: red">required</span>
                            </td>
                        </tr>
                      <tr>
                        <td style="padding: 15px;">
                          <input type="button" ng-click="updateData()" value="Update" ng-disabled="form.fnumber.$error.min || form.fnumber.$error.max || form.femail.$error.required || form.ffname.$error.required || form.flname.$error.required || form.fstatus.$error.required || form.fnumber.$error.required || form.femail.$error.email">
                        </td>
                      </tr>
                    </table>        
                  </form>
    </div>
</div>



        